
/* William Soltau
   4/22/2022*/
/*************************** Mobile ***************************/
   body{
	background-image: url("../images/yogamobile.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}



nav {
	display: block;
}

img{
	display: none;
}



body { 
	
    color: #3F2860;
    font-family: Verdana, Arial, sans-serif;
}

header { 
	background-color: #9BC1C2; 
    background-position: right;
	background-repeat: no-repeat;
}

header{
	background-image: none;
}

h1 { 
	text-indent: 1em;
    line-height: 400%; 
}

main ul {
	list-style-image: url('../images/yogabullet.png');
	margin-left: 3em;
}

nav { 
     font-weight: bold; 
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}



.schedule{
    border-collapse: collapse;
    border: 1px black solid;
	width: 100%;
	margin-bottom: .5em;
	
}

td{
	border: 1px black solid;
	text-align: center;
	
}

address{
	margin-bottom: .5em;
}

footer { 
	background-color: #9BC1C2; 
    font-size: small;
	text-align: center;
	font-style: italic;
	padding: .5em;

}




	


	/*************************** Tablet ***************************/
	@media screen and (min-width:641px) {		  

		nav li{
			display: inline;
		}
		
		body {
			background:  #F5F5F5;
		}
	
		img{
			display: block;
			max-width: 100%;
		}
	
		header{
			background-image: url("../images/lilyheader.jpg");
		}
	
	
		
		}
	
		
	