

/* Selects body*/

body{
    background-color: lightskyblue;
    margin: 0 10%; 
    font-family: sans-serif; 
    
  }
  /* Selects ects all h1 tags */
  
  h1{
      text-align: center;
      font-family: sans-serif;
      font-weight: normal;
      text-transform: uppercase;
      
      margin-top: 30px;
  }
  /* Selects header p*/
  header p {
    text-align: center;
    font-size: 1.5rem;
  }
   /* Selects header img*/
  header  img{
    border-radius: 50px;
   }

    /* css Select form fieldset*/
  fieldset{
      width:fit-content;
  }
  
  /* Selects nav lists*/
  nav {
    
  background-image: linear-gradient(to bottom, #101011 , #21048b);
	 border: silver double 5px;
  text-align: center;
	font-size: 1.5rem;
	color: white;
	padding: 15px ;
	margin-top: -1px;
  margin-bottom: 20px;
   
  }
 
  nav li{
   display: inline;
  
   
}
/* Selects nav a links*/
nav a:hover{
  background-color: rgb(61, 61, 57);
}

nav a:active{
  color: rgb(55, 155, 221);
}

nav a {
  text-decoration: none;
  color: aliceblue;
}

/*  css Selects all main para*/
main P {
  text-align: center;
}

/* css Selects class tag in Experience.Html*/
#point  {
  list-style-image: url('../images/iconmonstr-computer-9-16.png');
}


  
   /* Selects caption for the table*/
   caption{
     font-size: 1.5em;
   }
   
   /*  css Selects id tag in all HTML*/
   .Bold{
    font-weight: bold;
    font-family: 'Press Start 2P', cursive, serif;
   }

    /* Select all h2 tags*/
    h2{
      color: black;
      font-size: 2rem;   
      text-align: center;
      margin: auto;
      padding: 3px 3px;
     }   
     

   /* css Selects id tag in all HTML*/
  .Phone{
    font-size: 1.5rem;
    text-align: center;
    padding: 0px;
  
    }
   
    /*  css Selects the footer */
 footer p,  footer h2 {
   color: black;
   text-decoration: none;
   
 }
 footer a{
   color: #21048b;
   text-decoration: none;
 }