/*William Soltau, 4/14/2022*/
/*  custom font*/
@font-face {
  font-family:'quicksand';
  src: url('../fonts/quicksand-bold-webfont.woff') format('woff'),
       url('../fonts/quicksand-bold-webfont.woff2') format('woff2');
       
   
  
}
/*  selects the table, td, th, tbody and tfoot and thread*/

table {
  width: 100%;
 
  border-collapse: collapse;
  border-width: 2px;
  background-color: whitesmoke;
  border-style: solid;
  color: #000000;
  margin-bottom: 20px;
}


table td, th, tbody, tfoot {
  border-width: 2px;
  border-color: silver;
  border-style: solid;
  padding: 15px;
  font-size: large;
  text-align: center;
  font-family: 'quicksand', cursive, serif;
}



thead:nth-child(2) {
  background-color:  #3092ee;
}
